<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anyeonggg^^</title>
</head>
<body>
    <center>
        <h1>Haloo <%=namaUser.username%>!</h1>
        <h3>Selamat datang di Profil Homepage</h3>
        <br>
        <p>
            Teks biasaa tapi terseerah mau diisi apa..
        </p>
        <br>

        <a href="/logout">logout</a>
    </center>
</body>
</html>